@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Roboto";
}

.header__wrapper-nav {
  background-color: #323232;
}

.navigation__left {
  display: flex;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__content,
.navigation__socials,
.navigation__item {
  display: flex;
}

.navigation__logo {
  margin-right: 32px;
}

.navigation__link {
  color: #EDEDED;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 30px;
  border-left: #4D4D4D 1px solid;
  border-right: #4D4D4D 1px solid;
}

.navigation__link:hover {
  background-color: #000000;
  color: #C7AA8B;
}

.navigation__side {
  display: none;
  z-index: 2;
}

.navigation__side-burger {
  background-color: transparent;
  padding: 18px 0px;
  cursor: pointer;
}

.navigation__side-link {
  width: 200px;
  background-color: #323232;
  padding: 20px 15px;
  color: #EDEDED;
  font-size: 18px;
  display: block;
  border-top: #4D4D4D 1px solid;
}

.navigation__side-link:hover {
  background-color: #000000;
  color: #C7AA8B;
}

.navigation__side-list {
  position: absolute;
  display: none;
  left: 0px;
}

.navigation__side-item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.navigation__side-link_socials-facebook {
  grid-area: 1/1/2/2;
}

.navigation__side-link_socials-twitter {
  grid-area: 1/2/2/3;
}

.navigation__side-link_socials {
  text-align: center;
  display: block;
  border-top: #4D4D4D 1px solid;
  padding: 30px 10px;
  background-color: #323232;
}

.navigation__side-link_socials:hover {
  background-color: #000000;
}

.header__wrapper {
  background-image: url(./img/header-background.png);
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 20px;
}

.header__title {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
}

.header__heading_level-1 {
  text-align: center;
  color: #fff;
  font-size: 78px;
  line-height: 80px;
  margin-bottom: 36px;
}

.header__underline {
  width: 60px;
  height: 2px;
  background-color: #FFF;
  margin-bottom: 18px;
}

.header__paragraph {
  font-family: "Vollkorn";
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.header__button {
  color: #FFF;
  padding: 10px 17px;
  font-size: 16px;
  border: 2px solid #FFF;
  background-color: rgba(77, 77, 77, 0.431372549);
  margin-bottom: 86px;
}

.header__pagination {
  display: flex;
}

.pagination__item {
  width: 9px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.337254902);
  margin: 0px 6px;
  cursor: pointer;
}

.pagination__item_active {
  background-color: #FFF;
}

.pagination__item:hover {
  background-color: #FFF;
  transition: 1s;
}

.main__process-top {
  background-color: #C7AA8B;
  padding-top: 60px;
  padding-bottom: 80px;
}

.process-top__cardholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.process-top__card {
  display: flex;
  flex-flow: column wrap;
  max-width: 320px;
}

.card__card-number {
  color: rgba(50, 50, 50, 0.2196078431);
  font-size: 16px;
}

.card__underline {
  background-color: rgba(50, 50, 50, 0.2196078431);
  height: 1px;
}

.card__process-name {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #4D4D4D;
  font-size: 20px;
}

.card__process-image {
  margin-bottom: 35px;
  align-self: center;
}

.card__paragraph {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}

.main__process-bottom {
  background-image: url(./img/background-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 127px;
  padding-bottom: 157px;
}

.process-bottom__paragraph {
  font-size: 47px;
  line-height: 55px;
  color: #C7AA8B;
  margin-bottom: 24px;
}

.process-bottom__underline {
  width: 60px;
  height: 2px;
  background-color: #C7AA8B;
  margin-bottom: 18px;
}

.main__team-section {
  background-color: #FFF;
  padding: 80px 0px;
}

.team-section__cardholder {
  color: #4D4D4D;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team-section__heading_level-2 {
  font-size: 30px;
  margin-right: 80px;
}

.team-section__card {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.card__person-name {
  font-size: 16px;
  margin-bottom: 4px;
}

.card__person-position {
  font-family: "Vollkorn";
  font-size: 12px;
}

.card__soc-media-img {
  margin-right: 10px;
  vertical-align: baseline;
}

.main__feedback-section {
  background-color: #F7F7F7;
  padding: 80px 0px;
}

.feedback-section__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 1fr, 2fr;
  gap: 25px;
}

.feedback-section__heading {
  grid-area: 1/1/2/3;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.feedback-section__heading_level-3 {
  color: rgba(50, 50, 50, 0.2117647059);
  font-size: 15px;
  margin-bottom: 15px;
}

.feedback-section__underline {
  width: 60px;
  height: 2px;
  background-color: rgba(50, 50, 50, 0.2117647059);
}

.feedback-section__col {
  text-align: center;
  max-width: 360px;
}

.feedback-section__col_left {
  justify-self: right;
  grid-area: 2/1/3/2;
}

.feedback-section__col_right {
  grid-area: 2/2/3/3;
}

.feedback-section__paragraph {
  font-family: "Vollkorn";
  font-size: 18px;
  line-height: 20px;
  color: #4D4D4D;
  margin-bottom: 8px;
}

.feedback-section__author {
  font-size: 13px;
  color: #C7AA8B;
}

.footer {
  background-color: #323232;
  padding: 56px 0px;
}

.footer__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  color: #C7AA8B;
  padding: 10px 74px;
  font-size: 16px;
  border: 2px solid #C7AA8B;
  background-color: rgba(77, 77, 77, 0.431372549);
  margin: 0px 16px;
}

.footer__trademark::before {
  content: url(./img/logo-2.png);
  margin-right: 8px;
  vertical-align: middle;
}

.footer__trademark,
.footer__address {
  color: #858585;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */