@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media screen and (max-width: 1250px) {
  .container {
    padding: 0px 15px;
  }
  .creators-wrapper {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    max-width: 850px;
  }
  .navigation__logo-link {
    padding: 15px 0;
  }
  .navigation__side {
    display: block;
  }
  .navigation__list {
    display: none;
  }
  .header__navigation {
    height: 55px;
  }
  .header__heading_level-1 {
    color: #FFF;
    font-size: 38px;
    line-height: 120%;
    font-weight: 600;
  }
  .header__paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .header__stats-heading {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    color: #FFF;
  }
  .header__stats-paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .title-card__img {
    max-width: 330px;
  }
  .collection__heading {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .collection__paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .collection__card_3 {
    display: none;
  }
  .categories__heading {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .categories__card-heading {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
    font-weight: 600;
    padding: 20px 20px 25px 20px;
  }
  .categories__card {
    max-width: 150px;
  }
  .categories__card-img {
    max-width: 150px;
  }
  .categories__cardholder-bottom .categories__card .categories__card-bottom {
    height: 90px;
  }
  .discover__card_third {
    display: none;
  }
  .discover__heading {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .discover__paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .highlight__heading {
    color: #FFF;
    font-size: 38px;
    line-height: 120%;
    font-weight: 600;
  }
  .work__heading {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .work__paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .work__card-heading {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
    font-weight: 600;
  }
  .work__card-description {
    font-size: 12px;
    line-height: 140%;
  }
  .work__card {
    max-width: 210px;
  }
  .work__card-img {
    max-width: 160px;
  }
  .subscribe {
    padding: 40px 30px;
  }
  .subscribe__heading {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .subscribe__paragraph {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }
  .subscribe__input-subscription {
    position: static;
    margin-bottom: 16px;
  }
  .subscribe__input-button {
    position: static;
    transform: none;
    width: 100%;
  }
  .footer__top {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 740px) {
  .container {
    max-width: 345px;
  }
  .header__left {
    gap: 10px;
  }
  .header__title-wrapper {
    padding: 40px 0px 200px 0px;
    position: relative;
  }
  .header__heading_level-1 {
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }
  .header__title {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    align-items: center;
  }
  .header__title-card {
    max-width: 315px;
  }
  .header__button {
    position: absolute;
    text-align: center;
    top: 620px;
    width: 100%;
    max-width: 315px;
  }
  .header__stats-block {
    position: absolute;
    top: 720px;
    justify-content: space-between;
  }
  .collection__title {
    margin-bottom: 40px;
  }
  .collection__card_2 {
    display: none;
  }
  .creators__authors-section {
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .authors-section__item-6 {
    display: none;
  }
  .creators-wrapper {
    position: relative;
    padding: 40px 0 140px 0px;
  }
  .creators__top-button {
    text-align: center;
    position: absolute;
    top: 800px;
    width: 100%;
    max-width: 315px;
  }
  .categories__heading {
    margin-bottom: 40px;
  }
  .categories-wrapper {
    padding: 40px 0px;
  }
  .categories__cardholder-top,
  .categories__cardholder-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }
  .categories__cardholder {
    gap: 15px;
  }
  .discover__button {
    display: none;
  }
  .discover__top {
    margin-bottom: 40px;
  }
  .discover__button-inner {
    display: block;
    width: 100%;
  }
  .discover__card {
    max-width: 315px;
  }
  .discover__card-img {
    max-width: 315px;
  }
  .discover__cardholder {
    flex-flow: column wrap;
    gap: 20px;
  }
  .discover__card_third {
    display: block;
    margin-bottom: 20px;
  }
  .highlight-wrapper {
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .highlight__section {
    flex-flow: column wrap;
    gap: 30px;
  }
  .highlight__button {
    display: none;
  }
  .highlight__button_inner {
    text-align: center;
    display: block;
  }
  .timer {
    align-self: none;
    width: 100%;
    max-height: 170px;
    padding: 30px;
    align-content: center;
  }
  .work__cardholder {
    flex-flow: column wrap;
    gap: 20px;
  }
  .work__card {
    text-align: left;
    max-width: 315px;
    display: flex;
    flex-flow: row nowrap;
    padding: 20px;
    gap: 20px;
    width: 100%;
  }
  .work__card-img {
    max-width: 100px;
  }
  .work__top {
    margin-bottom: 40px;
  }
  .subscribe-wrapper {
    padding: 40px 0;
  }
  .subscribe {
    flex-flow: column wrap;
    background-color: transparent;
    padding: 0;
  }
  .subscribe__input-subscription {
    padding: 12px 20px;
  }
  .subscribe__input-button {
    padding: 12px 20px;
  }
  .footer__input-subscription {
    position: static;
    margin-bottom: 16px;
    padding: 12px 20px;
    min-width: 300px;
  }
  .footer__input-button {
    position: static;
    transform: none;
    width: 100%;
    padding: 12px 20px;
    min-width: 300px;
  }
  .footer__input-button::before {
    vertical-align: middle;
    color: #FFF;
    margin-right: 12px;
    content: url(../../icons/mail_icon.svg);
  }
  .footer-heading {
    margin-bottom: 20px;
  }
  .footer__top {
    gap: 10px;
  }
}/*# sourceMappingURL=adaptive.css.map */