@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin link-button {
    font-size: 16px;
    padding: 19px 50px;
    border-radius: 20px;
    display: block;
    max-width: fit-content;
}
@mixin text_base-large {
    font-size: 22px;
    line-height: 160%;
    color: #FFF;
}
@mixin text_base {
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}
@mixin text_caption {
    font-size: 12px;
    line-height: 110%;
}
@mixin h5{
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    color: #FFF;
}
@mixin h3{
    color: #FFF;
    font-size: 38px;
    line-height: 120%;
    font-weight: 600;
}
@mixin h4{
    color: #FFF;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}
@mixin icon{
    vertical-align: middle;
    margin-right: 12px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #2B2B2B;
    font-family: "Work Sans";
}
// NAVIGATION

@keyframes animation {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header__navigation{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.navigation__logo-link{
    padding: 34px 0;
}
.navigation__list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navigation__link{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 20px;
}
.navigation__side{
    display: none;
}
.navigation__side-burger-img{
    width: 24px;
}
.navigation__side-burger{
    background-color: transparent;
    padding: 15px 0px;
}
.navigation__side-list{
    display: none;
    position: absolute;
    z-index: 999;
    top: 55px;
    left: 100%;
    transform: translateX(-100%);
    width: 100%;
    max-width: 820px;
}
.navigation__side-link{
    background-color: #2B2B2B;
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 20px;
    border: #A259FF 1px solid;
}
.navigation__side-link_sign-up{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #A259FF;
    padding: 12px 20px;
}
.navigation__link_sign-up{
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #A259FF;
    border-radius: 20px;
    padding: 19px 30px;
}
.navigation__link_sign-up::before{
    @include icon;
    content: url(../../icons/user_icon.svg);
}
.navigation__side:hover .navigation__side-burger{
animation: animation 1.5s ease-in-out infinite;
}
.navigation__side:hover .navigation__side-list{
    display: block;
}
.navigation__link:hover{
    color: #A259FF;
}
.navigation__side-link:hover{
    color: #A259FF;
}
.navigation__link_sign-up:hover{
    background-color: #7628D8;
}
.navigation__side-link_sign-up:hover{
    background-color: #7628D8;
}
// NAVIGATION END

// HEADER
.header__title-wrapper{
    padding: 80px 0px;
}
.header__title{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.header__left{
    color: #FFF;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    max-width: 510px;
}
.header__heading_level-1{
    font-size: 67px;
    line-height: 110%;
    font-weight: 600;
}
.header__paragraph{
@include text_base-large;
margin-bottom: -10px;
}
.header__button{
    @include link-button;
    background-color: #A259FF;
    color: #FFF;
}
.header__button::before{
    @include icon;
    content: url(../../icons/rocket_icon.svg);
}
.header__stats-block{
    display: flex;
    gap: 30px;
}
.header__stats-heading{
    font-size: 28px;
    font-weight: 500;
}
.header__stats-paragraph{
    color: #FFF;
    font-size: 24px;
}
.header__title-card{
    display: flex;
    flex-direction: column;
}
.title-card__img{
    border-radius: 20px 20px 0px 0px;
}
.title-card__bottom{
    background-color: #3B3B3B;
    border-radius: 0px 0px 20px 20px;
    padding: 22px 20px;
}
.title-card__heading{
    @include h5;
    margin-bottom: 10px;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.avatar__name{
    @include text_caption;
    color: #FFF;
}

// COLLECTION
.collection-wrapper{
    padding: 80px 0px;
}
.collection__title{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 60px;
}
.collection__heading{
    @include h3;
    margin-bottom: 10px;
}
.collection__paragraph{
    @include text_base-large;
}
.collection__cardholder{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
}
.collection__card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr, 1fr, 1fr;
    gap: 15px;
    max-width: 330px;
}
.collection__card-item-1{
    border-radius: 20px;
    grid-area: 1 / 1 / 2 / 4;
}
.collection__card-item-2{
    border-radius: 20px;
    grid-area: 2 / 1 / 3 / 2;
}
.collection__card-item-3{
    border-radius: 20px;
    grid-area: 2 / 2 / 3 / 3;
}
.collection__card-item-4{
    display: flex;
    grid-area: 2 / 3 / 3 / 4;
    background-color: #A259FF;
    @include h5;
    color: #FFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.collection__card-item-5{
    grid-area: 3 / 1 / 4 / 4;
}
.collection__card-item-heading{
@include h5;
margin-bottom: 10px;
}

// CREATORS
.creators-wrapper{
    padding: 40px 0;
    display: none;
}
.creators__top{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 30px;
    margin-bottom: 40px;
}
.creators__top-button{
    @include link-button;
    border: #A259FF 2px solid;
    color: #FFF;
    max-height: 60px;
}
.creators__top-button::before{
    @include icon;
    content: url(../../icons/rocket_icon_purple.svg);
}
.creators__heading{
    @include h4;
    margin-bottom: 10px;
}
.creators__paragraph{
    @include text_base;
}
.creators__authors-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.authors-section__item{
    display: flex;
    gap: 20px;
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 20px;
}
.authors-section__picture{
    position: relative;
}
.authors-section__item-number{
    top: 0;
    position: absolute;
    @include text_base;
    color: #858584;
    max-width: fit-content;
    background-color: #2B2B2B;
    width: 30px;
    height: 30px;
    padding: 4px 10px;
    border-radius: 50%;
}
.authors-section__item-heading{
    @include h5;
    margin-bottom: 5px;
}
.authors-section__caption{
    @include text_caption;
    color: #858584;
    margin-right: 10px;
}
.authors-section__coin{
    @include text_base;
}

// CATEGORIES
.categories-wrapper{
    padding: 80px 0px;
}
.categories__cardholder{
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    gap: 30px;
}
.categories__cardholder-top,
.categories__cardholder-bottom{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    gap:30px;
}
.categories__card{
    max-width: 240px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
}
.categories__heading{
    @include h3;
    margin-bottom: 60px;
}
.categories__card-img{
    border-radius: 20px 20px 0 0;
}
.categories__card-blur{
    z-index: 1;
    position: absolute;
    background-color: #ffffff23;
    backdrop-filter: blur(5px);
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
}
.categories__card-icon{
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%)
}
.categories__card-bottom{
    position: relative;
    z-index: 2;
    background-color: #3B3B3B;
    border-radius: 0 0 20px 20px;
}
.categories__card-heading{
    @include h5;
    padding: 20px 30px 25px 30px;
}

// DISCOVER SECTION

.discover-wrapper{
    padding: 80px 0px;
}
.discover__top{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
}
.discover__heading{
    @include h3;
    margin-bottom: 10px;
}
.discover__paragraph{
    @include text_base-large;
}
.discover__button{
    @include link-button;
    border: #A259FF 2px solid;
    color: #FFF;
}
.discover__button::before{
    @include icon;
    content: url(../../icons/eye_icon.svg);
}
.discover__button-inner{
    text-align: center;
    @include link-button;
    display: none;
    border: #A259FF 2px solid;
    color: #FFF;
    max-width: 315px;
}
.discover__button-inner::before{
    @include icon;
    content: url(../../icons/eye_icon.svg);
}
.discover__cardholder{
    display: flex;
    justify-content: space-between;
}
.discover__card{
    display: flex;
    flex-flow: column wrap;
    max-width: fit-content;
}
.discover__card-img{
    border-radius: 20px 20px 0 0;
}
.discover__card-bottom{
    padding: 20px 30px 25px 30px;
    background-color: #3B3B3B;
    border-radius: 0 0 20px 20px;
}
.discover__card-heading{
    @include h5;
    margin-bottom: 5px;
}
.discover__card-avatar{
    margin-bottom: 25px;
}
.discover__card-numbers{
    display: flex;
    justify-content: space-between;
}
.numbers__pricing-caption,
.numbers__bidding-caption{
    margin-bottom: 8px;
    @include text_caption;
    color: #858584;
}
.numbers__pricing-coin,
.numbers__bidding-coin{
    @include text_base;
}
.numbers__bidding{
    text-align: right;
}

// HIGHLIGHT

.highlight-wrapper{
    background-image: url(./img-main/Highlight.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 360px;
    padding-bottom: 60px;
}
.highlight__section{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}
.highlight__left{
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}
.highlight__gradient{
    position: absolute;
    background: linear-gradient(0deg, #A259FF, #a159ff5e, #a159ff00, #a159ff00 );
    min-width: 100%;
    height: 100%;
    bottom: 0;
}
.highlight__avatar{
    background-color: #3B3B3B;
    border-radius: 20px;
    padding: 10px 20px;
    max-width: fit-content;
}
.highlight__heading{
    color: #FFF;
    font-size: 51px;
    line-height: 110px;
    font-weight: 600;
}
.highlight__button{
    @include link-button;
    background-color: #FFF;
    color: #000;
    font-weight: 600;
}
.highlight__button::before{
    @include icon;
    content: url(../../icons/eye_icon_purple.svg);
}
.highlight__button_inner{
    @include link-button;
    display: none;
    background-color: #FFF;
    max-width: 315px;
    width: 100%;
}
.highlight__button_inner::before{
    @include icon;
    content: url(../../icons/eye_icon_purple.svg);
}

.timer {
    display: grid;
    align-self: self-end;
    grid-template-columns: auto;
    grid-template-rows: 20px 50px 20px;
    gap: 10px;
    background-color: #3b3b3b75;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    max-height: 170px;
    padding: 30px;
    align-content: center;
    }
    .timer__caption { grid-area: 1 / 1 / 2 / 6; }
    .timer__time_hours { grid-area: 2 / 1 / 3 / 2; }
    .timer__time-dots_left { grid-area: 2 / 2 / 3 / 3;}
    .timer__time_minutes { grid-area: 2 / 3 / 3 / 4; }
    .timer__time-dots_right { grid-area: 2 / 4 / 3 / 5;}
    .timer__time_seconds { grid-area: 2 / 5 / 3 / 6; }
    .timer__caption_hours { grid-area: 3 / 1 / 4 / 2; }
    .timer__caption_minutes { grid-area: 3 / 3 / 4 / 4; }
    .timer__caption_seconds { grid-area: 3 / 5 / 4 / 6; }

    .timer__time_hours,
    .timer__time-dots_left,
    .timer__time_minutes,
    .timer__time-dots_right,
    .timer__time_seconds{
        @include h3;
    }
.timer__caption,
.timer__caption_hours,
.timer__caption_minutes,
.timer__caption_seconds{
@include text_caption;
color: #FFF;
}

// WORKING

.work-wrapper{
    padding: 80px 0;
}
.work{
    display: flex;
    flex-flow: column wrap;
}
.work__top{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    margin-bottom: 48px;
}
.work__heading{
    @include h3;
}
.work__paragraph{
    @include text_base-large;
}
.work__cardholder{
    display: flex;
    justify-content: space-between;
}
.work__card{
    background-color: #3B3B3B;
    border-radius: 20px;
    text-align: center;
    max-width: 330px;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 30px 30px 30px;
    gap: 10px;
}
.work__card-heading{
    @include h5;
    margin-bottom: 10px;
}
.work__card-description{
    @include text_base;
}

// SUBSCRIBE

.subscribe-wrapper{
    padding: 40px 0px 80px 0px;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #3B3B3B;
    border-radius: 20px;
    gap: 30px;
}
.subscribe__wrapper-img{
    border-radius: 20px;
    overflow: hidden;
    max-width: 425px;
    min-width: 300px;
}
.subscribe__img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.subscribe__title{
    padding: 19px 0px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    min-width: 280px;
    max-width: 600px
}
.subscribe__heading{
    @include h3;
}
.subscribe__paragraph{
    @include text_base-large;
    margin-bottom: 30px;
}
.subscribe__form-subscription{
    position: relative;
    display: inline-block;
}
.subscribe__input-subscription{
    position: relative;
    @include text_base;
    color: #2B2B2B;
    padding:20px;
    background-color: #FFF;
    border-radius: 20px;
    width: 100%;
    min-width: 300px;
}
.subscribe__input-button{
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    background-color: #A259FF;
    border-radius: 20px;
    padding: 20px 40px;
    @include text_base;
    font-weight: 600;
}
.subscribe__input-button::before{
    @include icon;
    content: url(../../icons/mail_icon.svg);
}

// FOOTER
.footer{
    padding: 40px 0px;
    background-color:#3B3B3B ;

}
.footer__top{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    gap: 30px;
}

.footer-heading{
    @include h5;
    margin-bottom: 30px;
}
.footer-paragraph{
    @include text_base;
    color: #CCCCCC;
    margin-bottom: 20px;
}
.footer__paragraph-community{
    @include text_base;
    color: #CCCCCC;
    margin-bottom: 15px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__list-link{
@include text_base;
color: #CCCCCC;
}
.footer__underline{
    background-color: #858584;
    height: 1px;
    margin-bottom: 20px;
}
.footer__copyright{
    @include text_caption;
    color: #CCCCCC;
}

.footer__form-subscription{
    position: relative;
    display: inline-block;
}
.footer__input-subscription{
    position: relative;
    @include text_base;
    color: #2B2B2B;
    padding: 15px 70px 15px 20px;
    background-color: #FFF;
    border-radius: 20px;
    width: 100%;
    min-width: 360px;
}
.footer__input-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    background-color: #A259FF;
    border-radius: 20px;
    padding: 15px 40px;
    @include text_base;
    font-weight: 600;
}

